<p style="float:right; margin-top:0">
</p>

<p id="forum_name">

<table border="0" cellspacing="0" cellpadding="0" class="noborder nopad wide">
  <td>
    <label><%= t(:title) %></label><br />
    <%= form.text_field :name, :class => "primary" %>
  </td>
  <td style="text-align:right">
    <label><%= t(:position) %></label><br />
    <%= form.text_field :position, :size => 5 %>

  </td>
</table>

</p>

<p id="forum_board">
<label><%= t(:board) %></label><br />
<%= form.select(:board_id, current_site.boards.all.collect {|b| [b.title, b.id]}) %>
</p>

<p id="forum_descripion">
<label><%= t(:description) %></label><br />
<%= form.text_area :description, :rows => 7 %></p>