<h1><%= t(:edit_topic, :default => "Edit Topic") %></h1>

<%= error_messages_for :topic %>
<% form_for :topic,
     :url  => forum_topic_path(@forum, @topic),
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<br />
<%= submit_tag t(:save_changes, :default => 'Save Changes') %> or <%= link_to(t(:cancel, :default => 'Cancel'), forum_topic_path(@forum, @topic)) %>
<% end -%>