
<h3><%= t(:basics, :default => 'Basics') %></h3>


<% if not @user.valid? and @user.errors.on(:login) %>

<p>
  <label for="login"><%= 'Login'[:login_title] %></label></p>
  <p class="help">
    <strong><%= 'Please change your login'[:change_login] %>.</strong>
    <%= 'Logins should start with least 2 characters and may consist of letters, numbers, or the underscore'[:login_field] %>.
  </p>
<p>
  <%= settings.text_field :login %>
</p>
<% end %>

<p>
  <label for="user_email"><%= t(:email, :default => 'Email') %></label><br />
  <%= settings.text_field :email %>
</p>

<div>
  <label for="user_password"><%= t(:password) %></label><br />
  <p class="entryhelp" style="margin-top:0.5em;"><%= t(:please_input_password) %></p>
  <%= settings.password_field :password, :size => 16 %>
  <span class="entryhelp">(<%= t(:new_password) %>)</span><br />
  <%= settings.password_field :password_confirmation, :size => 16 %>
  <span class="entryhelp">(<%= t(:confirm_password) %>)</span>
</div>
